*.aux
*.bbl
*.blg
*.lof
*.out
*.pdf
*.tdo
*.snm
*.vrb
*.toc
*.log
*.lol
*.lot
*.nav
*.bak
*.loa
*.thm
.DS_Store
.stryker-tmp
node_modules
reports
*.vagrant
logs
.idea
out
*.log
dist
vendor
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
