version: "3"
services:
  nginx:
    image: nginx
    volumes:
      - ./source/gui:/var/www/linkle.ru/source/gui:ro
      - ./nginx:/etc/nginx/conf.d:ro
    ports:
      - "80:80"
    links:
      - backend
      - frontend

  frontend:
    build:
      context: .
      dockerfile: dev-frontend.Dockerfile
    ports:
      - "8080:8080"
    environment:
      NODE_ENV: development
      API_PORT: 8000
    volumes:
      - ./source:/var/www/linkle.ru/source
    links:
      - backend

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - ~/docker_volumes/linkle_mongo:/data/db

  backend:
    restart: always
    depends_on:
      - mongo
    environment:
      NODE_ENV: development
      API_PORT: 8000
    build:
      context: .
      dockerfile: dev-backend.Dockerfile
    ports:
      - "8000:8000"
      - "9999:9229"
    volumes:
      - ./source:/var/www/linkle.ru/source
    links:
      - mongo
