doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    title Сокращалка ссылок
    // Custom styles for this template
    link(href='css/style.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js')
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          header.masthead.clearfix
            .inner
              h3.masthead-brand short.taxnuke.ru
              h4.masthead-brand (alpha)
          main.inner.cover(role='main')
            h1.cover-heading Сократи свою ссылку.
            form(data-toggle='validator', role='form')
              .form-group.has-feedback
                label.control-label(for='long-link') Оригинальная ссылка
                .input-group
                  input#long-link.form-control(type='text', pattern='.*\..*', placeholder='website.com/super/long/link/that/is/too/annoying?use_this_tool=true', data-error='Чет совсем не похоже на ссылку', required='')
                .help-block.with-errors
              .form-group
                label.control-label(for='short-link') Псевдоним
                .input-group
                  span.input-group-addon short.taxnuke.ru/
                  input#short-link.form-control(type='text', pattern='^[a-zA-zа-яА-Я\d\._-]+$', maxlength='15', placeholder='тестовая', data-error='Только латинский и кириллический алфавиты, арабские цифры, - и _')
                .help-block.with-errors Если не заполнять, будет сгенерирован случайно
              input.btn.btn-primary(type='submit', value='Сжать')

