extends partial/layout

block content
  h1= title
  p #{greeting}

  form(method='POST', action='/api/v1/aliases')
    input(type='text', name='name', placeholder="Сюда пиши алиас")
    input(type='text', name='href', placeholder="А сюда ссылку")
    input(type='submit', value='Сжать')
