doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Сокращалка ссылок
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    link(href='/css/style.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/js/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js')
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          header.masthead.clearfix
            .inner
              h3.masthead-brand short.taxnuke.ru
              h4.masthead-brand (alpha)
              p.masthead-brand Находится в начальной стадии разработки
          main.inner.cover(role='main')
            h1.cover-heading Сократить ссылку
            form#main-form(data-toggle='validator', role='form')
              .form-group.has-feedback
                .input-group
                  input#long-link.form-control(type='text', pattern='^.*\.[a-zA-zа-яА-Я\d]+.*$', placeholder='website.com/super/long/link/that/is/too/annoying?use_this_tool=true', data-error='Чет не похоже на ссылку', required='')
                .help-block.with-errors
              .form-group
                label.control-label(for='short-link') Псевдоним
                .input-group
                  span.input-group-addon short.taxnuke.ru/
                  input#short-link.form-control(type='text', pattern='^[a-zA-zа-яА-Я\d\._-]+$', maxlength='15', placeholder='тестовая', data-error='Только латинский и кириллический алфавиты, арабские цифры, - и _')
                .help-block.with-errors Если не заполнять, будет рандомная
              input.btn.btn-primary(type='submit', value='Сжать')
            br
            #result-group.form-group
              label.control-label(for='shortened-link') Сжатая ссылка
              .input-group
                input#shortened-link.form-control(type='text', readonly='')

