doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Сокращалка ссылок
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
    link(href='/css/style.css', rel='stylesheet')
    script(src='/js/lib/jquery.js')
    script(src='/js/main.js')
    script(src='/js/lib/validator.js')
    script(src='/js/lib/analytics.js')
  body
    noscript
      div
        img(src='https://mc.yandex.ru/watch/46361133', style='position:absolute; left:-9999px;', alt='')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          header.masthead.clearfix
            br
          main.inner.cover(role='main')
            h1.cover-heading Сократить ссылку
            form#main-form(role='form')
              .form-group.has-feedback
                .input-group
                  input#long-link.form-control(type='text', data-href, required, placeholder='website.com/super/long/link/that/is/too/annoying?use_this_tool=true')
                .help-block.with-errors
              .form-group
                .input-group
                  span.input-group-addon short.taxnuke.ru/
                  input#short-link.form-control(type='text', data-alias, placeholder='коротко')
                .help-block.with-errors Если не заполнять, будет рандомная
              input.btn.btn-primary(type='submit', value='Сократить')
            br
            #result-group.form-group
              label.control-label(for='shortened-link') Сокращенная ссылка
              .input-group
                input#shortened-link.form-control(type='text', readonly='')
            input.btn.btn-info#read-docs(type='submit', value='Документация к API на Github')

